<div class="container">
    <div class="spro-gallery">
        <h2 class="spro-gallery__heading title-uppercase">spro gallery</h2>
        <div class="spro-gallery-tab__wrapper">
            <a href="#" class="spro-gallery-tab--video js-spro-gallery-tab--video">Videos</a>
            <a href="#" class="spro-gallery-tab--photo js-spro-gallery-tab--photo">Photos</a>
        </div>
    </div>
    <div class="video-gallery js-video-gallery ">
        {% section 'video-gallery-section' %}
    </div> 
    <div class="js-photo-gallery video-gallery-wrapper">
        {% section 'photo-gallery-section' %}
    </div>   
</div>
