<section class="pros-profile--section-bg">
    <div class="container">
        {% section 'pros-profile-image-section'   %}
        <h2 class="pros-profile--heading heading--impact">{{ page.title }}</h2>
        <div class="pros-profile-content"> 
            {{ page.content }} 
        </div>
        {% section 'pros-profile-tags-section-drewcook'   %}
    </div>
</section>